@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 id="titulo" class="display-4"><strong>Seja bem vindo ao EveryDay Car - Sistema para estacionamento de carros.</strong></h3>
    <img id="car" src="~/img/car-race-geec41e643_1920.jpg" class="img-fluid" alt="...">
    <h4 id="texto">Com o sistema de gerenciamento de estacionamento fica mais fácill para controlar seu dia dia no estabelecimento. </h4>
</div>
